node_modules
dist
.DS_Store
.parcel-cache
docs/types
typedoc
tmp/*
!tmp/.gitkeep
packages/hooks/tmp/
packages/test
tests/src/experiments/*
!tests/src/experiments/memory-tests/
docs/.vitepress/cache/*
docs/public/llms.txt
docs/public/llm/
.env
tests/src/smoke/__screenshots__/**/*
.swp